{% extends "base.html" %}

{% block title %}Items{% endblock %}

{% block content %}

<div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-semibold text-green-700">Lost & Found Items</h2>

    {% if user.is_authenticated %}
     <a href="{% url 'items:create_item' %}"
       class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
       Add Item
      </a>
    {% endif %}
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">

{% for item in items %}

<div class="border border-green-200 rounded-lg p-4 shadow-sm hover:shadow-md transition">

    <h3 class="text-xl font-semibold text-green-700 mb-2">
        {{ item.name }}
    </h3>

    <p class="text-gray-600 mb-2">
        {{ item.description|truncatechars:80 }}
    </p>

    <p class="text-sm text-gray-500 mb-3">
        Location: {{ item.location }}
    </p>

    <a href="{% url 'items:detail_item' item.pk%}"
        class="text-green-600 hover:underline">
        View Details
    </a>

</div>

{% empty %}

<p>No items reported yet.</p>

{% endfor %}

</div>

{% endblock %}